<%- include('../navbar', {active: "admin-users"}); %>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Users</h3>
                <% if (locals.alert) { %>
                    <div class="alert alert-<%= locals.alert_type %>" role="alert">
                        <%= locals.alert %>
                    </div>
                <% } %>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">User list</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                            <option value="all" selected="">all</option>
                                        </select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label">
                                        <input type="search" class="form-control form-control-sm" id="tableInput" onkeyup="tableSearch()" aria-controls="dataTable" placeholder="Search"></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="tableEnabled">
                                <thead>
                                <tr>
                                    <th>username</th>
                                    <th>id</th>
                                    <th>admin</th>
                                    <th>server user</th>
                                    <th>updated</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% users.forEach(function (user) { %>
                                <tr>
                                    <td><img class="rounded-circle me-2" width="30" height="30" src="<%= user.avatar %>"><%= user.login %></td>
                                    <td><%= user.id %></td>
                                    <td><%= user.admin %></td>
                                    <td><%= user.serverUsername %></td>
                                    <td><%= new Date(user.updatedAt).toLocaleString() %></td>
                                    <td style="text-align: right;"><a class="btn btn-sm btn-primary" href="/admin/users/<%= user.id %>"><i class="fas fa-key"></i></a> <a class="btn btn-sm btn-danger" href="/admin/users/delete/<%= user.id %>"><i class="far fa-trash-alt"></i></a></td>

                                </tr>
                                <% }) %>
                                </tbody>
                                <tfoot>
                                <tr></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%- include('../footer'); %>